:root {
	--very-dark-grey-blue: hsl(217, 19%, 35%);
	--very-dark-black-blue: hsl(219, 29%, 14%);
	--violet: hsl(263, 55%, 52%);
	--light-grey: hsl(0, 0%, 81%);
	--light-grey-blue: hsl(210, 46%, 95%);
	--box-shadow: 0 0.25rem 1.5rem rgba(0, 0, 0, 0.5);
}
$violet: hsl(263, 55%, 52%);

.flow-content > * + * {
	margin-top: 1.25rem;
}

body {
	font-family: "Barlow Semi Condensed", sans-serif !important;
	font-weight: 500 !important;
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.testimonials {
	width: 75%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2rem;
	padding: 2rem;
}

.card {
	box-shadow: var(--box-shadow);
	border-radius: 0.5rem;
	background: white;
	padding: 2rem;
	color: var(--very-dark-grey-blue);
	.heading {
		font-weight: 600;
		line-height: 1.25;
		font-size: 1.2rem;
		padding-right: 3rem;
	}
	.verify {
		opacity: 0.5;
	}
	.text {
		opacity: 0.7;
	}
	.info {
		display: flex;
		gap: 2rem;
		align-items: center;
	}
	img {
		border-radius: 50%;
		border: 2px solid var(--border);
	}
	&.bg {
		color: white;
	}
	&.bg.purple {
		background: var(--violet) url("images/bg-pattern-quotation.svg") no-repeat 85% 0%;
		--border: #{lighten($violet, 6)};
	}
	&.bg.mid-dark {
		background: var(--very-dark-grey-blue);
	}
	&.bg.dark {
		background: var(--very-dark-black-blue) ;
		--border: var(--violet);
	}
	&.card__horizontal-1 {
		grid-column: 1/3;
	}
	&.card__horizontal-2 {
		grid-column: 2/4;
	}
	&.card__vertical {
		grid-column: 4;
		grid-row: 1/3
	}
}
